:root {
  --active: rgba(65, 138, 242, 1);
  --black: rgba(34, 34, 34, 1);
  --card-label-font-family: "Roboto-Regular", Helvetica;
  --card-label-font-size: 14px;
  --card-label-font-style: normal;
  --card-label-font-weight: 400;
  --card-label-letter-spacing: 0px;
  --card-label-line-height: 18px;
  --card-title-font-family: "Roboto-Medium", Helvetica;
  --card-title-font-size: 18px;
  --card-title-font-style: normal;
  --card-title-font-weight: 500;
  --card-title-letter-spacing: 0px;
  --card-title-line-height: normal;
  --content-h1-font-family: "Roboto-Regular", Helvetica;
  --content-h1-font-size: 24px;
  --content-h1-font-style: normal;
  --content-h1-font-weight: 400;
  --content-h1-letter-spacing: 0px;
  --content-h1-line-height: normal;
  --content-h2-font-family: "Roboto-Medium", Helvetica;
  --content-h2-font-size: 16px;
  --content-h2-font-style: normal;
  --content-h2-font-weight: 500;
  --content-h2-letter-spacing: 0px;
  --content-h2-line-height: 24px;
  --design-bg: rgba(44, 61, 57, 1);
  --grid-labelbottom-font-family: "Roboto-Regular", Helvetica;
  --grid-labelbottom-font-size: 10px;
  --grid-labelbottom-font-style: normal;
  --grid-labelbottom-font-weight: 400;
  --grid-labelbottom-letter-spacing: 0px;
  --grid-labelbottom-line-height: normal;
  --grid-labelleft-font-family: "Roboto-Medium", Helvetica;
  --grid-labelleft-font-size: 10px;
  --grid-labelleft-font-style: normal;
  --grid-labelleft-font-weight: 500;
  --grid-labelleft-letter-spacing: 0px;
  --grid-labelleft-line-height: normal;
  --h2-section-title-font-family: "Roboto-Bold", Helvetica;
  --h2-section-title-font-size: 14px;
  --h2-section-title-font-style: normal;
  --h2-section-title-font-weight: 700;
  --h2-section-title-letter-spacing: 0px;
  --h2-section-title-line-height: normal;
  --label-medium-font-family: "Roboto-Regular", Helvetica;
  --label-medium-font-size: 13px;
  --label-medium-font-style: normal;
  --label-medium-font-weight: 400;
  --label-medium-letter-spacing: 0px;
  --label-medium-line-height: normal;
  --metrics-font-family: "Roboto-Light", Helvetica;
  --metrics-font-size: 24px;
  --metrics-font-style: normal;
  --metrics-font-weight: 300;
  --metrics-letter-spacing: 0px;
  --metrics-line-height: normal;
  --metrics-title-font-family: "Roboto-Regular", Helvetica;
  --metrics-title-font-size: 14px;
  --metrics-title-font-style: normal;
  --metrics-title-font-weight: 400;
  --metrics-title-letter-spacing: 0px;
  --metrics-title-line-height: normal;
  --metrics-value-font-family: "Roboto-Medium", Helvetica;
  --metrics-value-font-size: 24px;
  --metrics-value-font-style: normal;
  --metrics-value-font-weight: 500;
  --metrics-value-letter-spacing: 0px;
  --metrics-value-line-height: normal;
  --normal-text-font-family: "Roboto-Regular", Helvetica;
  --normal-text-font-size: 14px;
  --normal-text-font-style: normal;
  --normal-text-font-weight: 400;
  --normal-text-letter-spacing: 0px;
  --normal-text-line-height: 18px;
  --obj-error: rgba(232, 43, 21, 1);
  --obj-sucess: rgba(122, 177, 14, 1);
  --obj-warning: rgba(255, 168, 52, 1);
  --popup-header-font-family: "Roboto-Regular", Helvetica;
  --popup-header-font-size: 18px;
  --popup-header-font-style: normal;
  --popup-header-font-weight: 400;
  --popup-header-letter-spacing: 0px;
  --popup-header-line-height: 18px;
  --shadow-dashboard: 0px 1px 7px 0px rgba(0, 0, 0, 0.05);
  --submenu-l1-item-font-family: "Roboto-Regular", Helvetica;
  --submenu-l1-item-font-size: 14px;
  --submenu-l1-item-font-style: normal;
  --submenu-l1-item-font-weight: 400;
  --submenu-l1-item-letter-spacing: 0px;
  --submenu-l1-item-line-height: normal;
  --submenu-l2-item-font-family: "Roboto-Regular", Helvetica;
  --submenu-l2-item-font-size: 14px;
  --submenu-l2-item-font-style: normal;
  --submenu-l2-item-font-weight: 400;
  --submenu-l2-item-letter-spacing: 0px;
  --submenu-l2-item-line-height: normal;
  --table-TD-font-family: "Roboto-Regular", Helvetica;
  --table-TD-font-size: 13px;
  --table-TD-font-style: normal;
  --table-TD-font-weight: 400;
  --table-TD-letter-spacing: 0px;
  --table-TD-line-height: 18px;
  --table-TH-font-family: "Roboto-Bold", Helvetica;
  --table-TH-font-size: 13px;
  --table-TH-font-style: normal;
  --table-TH-font-weight: 700;
  --table-TH-letter-spacing: 0px;
  --table-TH-line-height: 18px;
  --text-error: rgba(230, 22, 16, 1);
  --text-success: rgba(105, 151, 7, 1);
  --text-warning: rgba(217, 126, 0, 1);
  --UI-label-font-family: "Roboto-Regular", Helvetica;
  --UI-label-font-size: 14px;
  --UI-label-font-style: normal;
  --UI-label-font-weight: 400;
  --UI-label-letter-spacing: 0px;
  --UI-label-line-height: 20px;
  --UI-select-item-font-family: "Roboto-Regular", Helvetica;
  --UI-select-item-font-size: 14px;
  --UI-select-item-font-style: normal;
  --UI-select-item-font-weight: 400;
  --UI-select-item-letter-spacing: 0px;
  --UI-select-item-line-height: normal;
  --white: rgba(255, 255, 255, 1);
  --x10-grey: rgba(0, 0, 0, 0.1);
  --x20-grey: rgba(0, 0, 0, 0.2);
  --x35-grey: rgba(0, 0, 0, 0.35);
  --x5-grey: rgba(0, 0, 0, 0.05);
  --x50-grey: rgba(0, 0, 0, 0.5);
}
